#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;     
    justify-content: center;
    align-items: center;
}

body{
    background: hsl(27, 36%, 85%);
    font-family: 'dm sans';
    margin: 0;
}

main{
    align-items: center;
}

.box-1{
    width: 320px;
    height: 60px;
    align-items: center;
    padding-left: 30px;
    gap: 140px;
    display: flex;
    border-radius: 10px;
    background-color: #EC775F;
    margin: auto;
    margin-top: 170px;
}

img{
    width: 40px;
    align-items: center;
    border: none;
    margin: 0;
}

.container-2{
    padding-top: 10px;
    margin: auto;
    width: 350px;
    border-radius: 10px;
    background-color: rgb(255, 250, 245);
    margin-bottom: 150px;
}

li{
    margin-top: 150px;
}

h1{
    font-size: 18px;
    padding: 0;
    margin-top: 5px;
    color: hsl(33, 100%, 98%);
}

h2{
    margin: 0;
    font-size: 13px;
    border: none;
    padding: 0;
    margin-top: 5px;
    color: hsl(33, 100%, 98%);
    width: 100px;
}

p{
    margin: 0;
    width: 150px;
    text-align: end;

}

strong{
    color: hsl(25, 47%, 15%);
    font-size: 25px;
}

ul{
    width: 10px;
    height: 30px;
    display: flex;
    gap: 15px;
    list-style-type: none;
}

li > a{
    text-decoration-line: none;
    font-size: 11px;
    color: hsl(28, 10%, 53%);
}

.title{
    margin-left: 30px;
    font-size: 11px;
    color: hsl(25, 47%, 15%);
}

.gastos{
    width: 270px;
    height: 60px;
    text-align: center;
    padding-left: 30px;
    gap: 50px;
    display: flex;
    margin: 0;
    border-radius: 10px;
}


.mes-atual{
    text-align: left;
    
}

.mes-atual > h2{
    margin-top: 45px;
    color: hsl(28, 10%, 53%)
}

.mes-passado{
    margin-top: 45px;
    padding-right: 50px;
    width: 550px;
}

.mes-passado > h2{
    text-align: center;
    color: hsl(25, 47%, 15%);
    
}

footer{
    margin-bottom: 10px;
}

.attribution { 
    font-size: 8px; text-align: center; 
    margin-top: 50px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

#grafico{
    cursor: pointer;
}


