body{
    
    font-family: 'dm sans';
    height: 100vh;
    position: static;
    
}

.principal{
    display: block;
    background-color: hsl(25, 17%, 27%);
    width: 18rem;
    height: 15rem;
    border-radius: 10px;
    margin: auto;
}



.balancy{
    background-color: hsl(187, 39%, 62%);
    width: 18rem;
    height: 3.7rem;
    border-radius: 10px;
    margin: auto;
    font-size: 7px;
    
}

h1 {
    padding-left: 10px;
    color: hsl(25, 47%, 15%);
}

p{
    font-size: 11px;
    margin: 3%;
}

img{
    width: 37px;
    padding-left: 230px;
    margin: 0px;

    
}

.despesas{
    width: 250px;
}

ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin: auto;
    padding: 15px;
    align-items: center;
    
}

.mes-tual{
    width: 10px;
}

.mes-passado{
    
    text-align: end;
    margin-right: 15px;
    font-size: 11px;
    margin-left: 0px;
    
}

.attribution { 
    font-size: 8px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

